html {
    height: 100%;
    width: 100%;
}

.koios-fit {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    max-height: 100%;
}

.koios-app {
    overflow: hidden;
}

.koios-flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.koios-flexbox-vertical {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.koios-flexbox-horizontal {
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.koios-layout-wrapper {
    height: 100%;
    width: 100%;
}

.koios-accessory {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    float: left;
}

.koios-accessory-container {
    position: relative;
}
